    <div id="carouselExampleCaptions" class="carousel slide img"  data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/burger.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>Burger</h4>
              <p style="color:white; font-weight:bold; font-size: 20px;">All Foodies Invited In The Food Hospital</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/pizza.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Pizza</h5>
              <p style="color:blue; font-weight:bold; font-size: 20px;">For All Pizza Lovers</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/assets/chicken.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Chicken</h5>
              <p style="color:chartreuse; font-weight:bold; font-size: 20px;">For All Chicken Lovers</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev c-button" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next c-button"  type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <h1>Food By Category</h1>
    <div class="brandlogo">
        <img src="/assets/burger.jpg" height="150px" width="150px" alt="">
        <img src="/assets/pizza.jpg" height="150px" width="150px" alt="">
        <img src="/assets/chicken.jpg" height="150px" width="150px" alt="">
        <img src="/assets/drinks.jpg" height="150px" width="150px" alt="">
    </div>
    <h1>Food By Brand</h1>
    <div class="brand">
      <img src="/assets/logo/bk.jpg" height="150px" width="150px" alt="">
      
      <img src="/assets/logo/dm.jpg" height="150px" width="150px" alt="">
      <img src="/assets/logo/kfc.jpg" height="150px" width="150px"  alt="">
      <img src="/assets/logo/md.jpg" height="150px" width="150px" alt="">
      <img src="/assets/logo/ph.jpg" height="150px" width="150px" alt="">
      <img src="/assets/logo/sb.jpg" height="150px" width="150px" alt="">
      <img src="/assets/logo/sw.jpg" height="150px" width="150px"  alt="">
    </div>


