.main{
    background-color:blanchedalmond;
    margin-top: 30px;
    margin-left: 200px;
}
.head{
    margin-top: 30px;
    display: flex;

}
.submit{
    margin: 16px;
}
.image{
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 50%;
}