    <div class="middle">
    <div class="card">
        <img src="/assets/meals/mac1.jpg">
        <h3>Macdonald</h3>
        <h5>Meal</h5>
        <h5>Price:129</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/meals/mac2.jpg">
        <h3>Macdonald</h3>
        <h5>Meal</h5>
        <h5>Price:150</h5> 
        <button class="btn btn-primary">Order</button>
    </div>  
    <div class="card">
        <img src="/assets/meals/mac3.jpg">
        <h3>Macdonald</h3>
        <h5>Meal</h5>
        <h5>Price:166</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/meals/bk1.jpg">
        <h3>Burger King</h3>
        <h5>Meal</h5>
        <h5>Price:170</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/meals/bk2.jpg">
        <h3>Burger King</h3>
        <h5>Burger</h5>
        <h5>Price:99</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/meals/bk3.webp">
        <h3>Burger King</h3>
        <h5>Meal</h5>
        <h5>Price:199</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/meals/mac3.jpg">
        <h3>KFC</h3>
        <h5>Meal</h5>
        <h5>Price:200</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/meals/kfc3.jpg">
        <h3>KFC</h3>
        <h5>Meal</h5>
        <h5>Price:290</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
</div>
