
    <div class="middle">
    <div class="card">
        <img src="/assets/burger.jpg">
        <h3>Macdonald</h3>
        <h5>Burger</h5>
        <h5>Price:110</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/burger2.jpg">
        <h3>Macdonald</h3>
        <h5>Burger</h5>
        <h5>Price:130</h5> 
        <button class="btn btn-primary">Order</button>
    </div>  
    <div class="card">
        <img src="/assets/burger3.jpg">
        <h3>Macdonald</h3>
        <h5>Burger</h5>
        <h5>Price:140</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/burger1.jpg">
        <h3>Burger King</h3>
        <h5>Burger</h5>
        <h5>Price:170</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/burger4.jpg">
        <h3>Burger King</h3>
        <h5>Burger</h5>
        <h5>Price:155</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/burger5.jpg">
        <h3>Burger King</h3>
        <h5>Burger</h5>
        <h5>Price:160</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/burger6.jpg">
        <h3>KFC</h3>
        <h5>Burger</h5>
        <h5>Price:200</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/burger7.jpg">
        <h3>KFC</h3>
        <h5>Burger</h5>
        <h5>Price:210</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
</div>
