    <div class="middle">
        <div class="card">
            <img src="/assets/coffee/c5.jpg">
            <h3>Dominos</h3>
            <h5>Pizza</h5>
            <h5>Price:130</h5> 
            <button class="btn btn-primary">Order</button>
        </div>  
        <div class="card">
            <img src="/assets/coffee/coffee1.jfif">
            <h3>Pizza Hut</h3>
            <h5>Burger</h5>
            <h5>Price:155</h5> 
            <button class="btn btn-primary">Order</button>
        </div>
        <div class="card">
            <img src="/assets/coffee/c2.jpg">
            <h3>Pizza Hut</h3>
            <h5>Pizza</h5>
            <h5>Price:199</h5> 
            <button class="btn btn-primary">Order</button>
        </div>
        <div class="card">
            <img src="/assets/coffee/c3.jpg">
            <h3>Pizzaria</h3>
            <h5>Pizza</h5>
            <h5>Price:200</h5> 
            <button class="btn btn-primary">Order</button>
        </div>
        <div class="card">
            <img src="/assets/coffee/c4.jpg">
            <h3>Pizzaria</h3>
            <h5>Pizza</h5>
            <h5>Price:200</h5> 
            <button class="btn btn-primary">Order</button>
        </div>
    </div>