<form  style="border:1px solid #ccc" [formGroup]="signupform" >
    <div class="container">
      <h1 class="heading">Update Data</h1>
      <hr>
      <label><b>FirstName</b></label>
      <input type="text" placeholder="Enter Name" name="name" formControlName="firstName">

      <label><b>LastName</b></label>
      <input type="text" placeholder="Enter Name" name="name" formControlName="lastName">

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email"  formControlName="email">
      <br>
      <label for="text"><b>Status</b></label>
      <input type="text" placeholder="status" name="status" formControlName="status">
<br>
<br>
  
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn" (click)="update()">Update</button>
      </div>
    </div>
  </form>
  
 