
    <div class="middle">
    <div class="card">
        <img src="/assets/pizza/pizza1.jpg">
        <h3>Dominos</h3>
        <h5>Pizza</h5>
        <h5>Price:130</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/pizza/pizza2.jpg">
        <h3>Dominos</h3>
        <h5>Pizza</h5>
        <h5>Price:150</h5> 
        <button class="btn btn-primary">Order</button>
    </div>  
    <div class="card">
        <img src="/assets/pizza/pizza3.jpg">
        <h3>Dominos</h3>
        <h5>Pizza</h5>
        <h5>Price:166</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/pizza/pizzahut1.jpg">
        <h3>Pizza Hut</h3>
        <h5>Pizza</h5>
        <h5>Price:170</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/pizza/pizzahut2.jpg">
        <h3>Pizza Hut</h3>
        <h5>Burger</h5>
        <h5>Price:155</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/pizza/pizzahut3.jpg">
        <h3>Pizza Hut</h3>
        <h5>Pizza</h5>
        <h5>Price:199</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
    <div class="card">
        <img src="/assets/pizza/pizzaria1.jpg">
        <h3>Pizzaria</h3>
        <h5>Pizza</h5>
        <h5>Price:200</h5> 
        <button class="btn btn-primary">Order</button>
    </div>
</div>